@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&display=swap');
@import url(games/valorant/valorant_style.css);

:root {
    --cor-primaria: #353535;
    --cor--texto: #ffffff;
    --cor-terciaria: #14213d;
    --cor-hover: #d9d9d9;
    --cor-banner: #3c6e71;
    --cor-background: #284b63;

    --fonte-primaria: 'Krona One', sans-serif;
    --fonte-secundaria: 'Montserrat', sans-serif;
}

*{
    margin: 0;
    padding: 0;
}

.cabecalho{
    padding: 1% 0 0 1%;
    background-color: var(--cor-primaria);
}

.cabecalho__menu{
    display: flex;
    gap: 25px;
}

.cabecalho__menu__link{
    font-family: var(--fonte-secundaria);
    font-size: 2rem;
    font-weight: 600;
    color: var(--cor--texto);
    text-decoration: none;
}

.cabecalho__menu__link:hover{
    cursor: pointer;
    color: var(--cor-hover);
}

body{
    background-color: var(--cor-background);
    color: var(--cor--texto);
}

.apresentacao__conteudo__titulo{
    font-family: var(--fonte-primaria);
    font-size: 2.5rem;
    margin: 1rem;
}

.apresentacao__conteudo__texto{
    font-family: var(--fonte-secundaria);
    font-size: 1.5rem;
    margin: 1rem;
    text-indent: 2rem;
}


.sessao_banner{
    padding: 5%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.banner{
    display: flex;
    flex-direction: column;
    background-color: var(--cor-banner);
    width: 18.5rem;
    border: 2px solid black;
    border-radius: 15px;
    padding: 10px;
    margin: 10px;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease
}

.banner:hover{
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

.banner__imagem{
    width: 19rem;
    height: 28.5rem;
    border-radius: 15px;
    display: flex;
    align-self: center;
}

.banner__botao{
    font-family: var(--fonte-secundaria);
    font-size: 24px;
    text-align: center;
    border: 2px solid black;
    border-radius: 10px;
    margin: 5px 0;
    padding: 5px;
    cursor: pointer;
    text-decoration: none;
    color: var(--cor--texto);
}

.banner__botao:hover{
    background-color: var(--cor-hover);
}

.rodape{
    padding: 24px;
    text-align: center;
    color: var(--cor--texto);
    background-color: var(--cor-primaria);
    font-family: var(--fonte-secundaria);
    width: 400;
}