.logo__valorant{
    text-align: center;

}

.logo__valorant__imagem{
    width: 50%;
}

.requisitos{
    margin: 1rem;
    height: 100vh;
    display: grid;
    grid-template-columns: 33% 33% 33%;
    margin-bottom: 0;
}

.requisitos__separacao{
    padding: 0 1rem;
    padding-bottom: 0;
    border-right: 2px solid white;
    
}

.requisitos__lista {
    list-style-type: none;
    
}