.logo__valorant{
    display: flex;
    width: 50%;
    justify-content: center;
    margin: 3rem 0 3rem 23rem;
}

.requisitos{
    height: 100vh;
    display: grid;
    grid-template-columns: 33% 33% 33%;
}